/* Nest Nav */
nav {
    margin: 30px 0px 0px 40px;
    margin-bottom: 30px;

    ul {
        list-style: none;
        
        li, a{
            font-family: $bodyfont;
            color: $middlecolor;
            display: inline-block;
        }
        
    }
}
